# compress text, html, javascript, css, js, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Or, compress certain file types by extension:
<files *.html>
SetOutputFilter DEFLATE
</files>

<files *.jpg>
SetOutputFilter DEFLATE
</files>


<files *.png>
SetOutputFilter DEFLATE
</files>

<files *.webm>
SetOutputFilter DEFLATE
</files>

<files *.ogv>
SetOutputFilter DEFLATE
</files>

<files *.mp4>
SetOutputFilter DEFLATE
</files>

<FilesMatch "\.(jpg|jpeg|png|gif|swf|mp4|webm|ogv|js|css)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>
